body{
    background-color:rgb(233, 233, 233);
    margin: 0;
}

.encabezado{
    background-color: rgb(250, 116, 116);
    color: whitesmoke;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado img{
    height: 60px;
}